#div1,#div2,#div3{
	display: flex;
	flex-direction: row;
	padding: 30px;
	height:20px;
	

}
div.parent{
	background-image: url("background-image.jpg");
	margin-right: 700px;
	border-style: groove;
	border-width: 10px;
	height:300px;
	 box-shadow: 10px 10px 5px grey;
	transition: width 1s,height 1s;

   
	 

}

div.child{
	cursor: pointer;
	 display: inline-block;
	padding: 15px;
	border-style: groove;
	height:10px;
	border-width: 2px;
	border-style: groove;
	background-image: url("background-image2.jpg");
	width:100px;
	margin-right:30px;
	display: flex;
	flex-direction: row;
	 box-shadow: 10px 10px 5px grey;
	  transition: width 1s,height 1s;
	transform-style: preserve-3d;
	

	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
div.child:hover{
background-image:url("background-image3.jpg");	
color: white;
width:200px;
height:20px;
}


