html, body {
height: 100%;
}

.outer {
  height: 300px;
  width: 300px;
  background-color: orange;
}

.inner {
  width: 100%;
  height: 100%;
  background-color: blue;
  right: 0px;
  transition: all 1s ease-out;
  position: relative;
}

.active {
  right: 300px;
  transition: all 1s ease-in;
}

